.navbar {
  height: 50px;
  background-color: rgba(0, 41, 138, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listitem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
